<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns="http://www.springframework.org/schema/beans"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="scannerService" class="com.oneso.service.ScannerServiceImpl">
	</bean>

	<bean id="quizDao" class="com.oneso.dao.QuizDaoImpl">
		<constructor-arg name="resources" value="csv/quiz.csv"/>
	</bean>

	<bean id="quizService" class="com.oneso.service.QuizServiceImpl">
		<constructor-arg name="quizDao" ref="quizDao"/>
		<constructor-arg name="scannerService" ref="scannerService"/>
	</bean>
</beans>
